@import "../Utils.scss";

#header-container {
  display: flex;
  justify-content: space-between;

  #title-container {
    float: left;
    padding: 0 0.6rem;
    display: inline-block;

    #title {
      color: $light-blue;
      border-bottom: 0.2rem solid $light-blue;
    }
  }
}

#burger-container {
  float: right;
  margin-top: 5px;
}
